
$corHeader:#000;

*, html {
    padding: 0;
    margin: 0;
}

body {

    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    
}

// Cabeçalho - Header
.header {   
        
       
    .navbar-container {
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        background-color: black;
        position: fixed;
        width: 15vw; 
        height: 100vh;
        
        
        
    }

    .navbar-logo {
        color: blue;
        background-color: orange;
        justify-content: center;
        display: flex;
        margin-top: 50px;
        
    }

    .navbar-content {
        background-color: red;
        justify-content: center;
        display: flex;
        margin-top: 40px;
        text-align: center; 
    }

    .navbar {
        background-color: green;
       margin: 50px;
       justify-content: center;
       align-items: center;
       text-align: center;
        
    }

    .navbar-list {
        // display: flex;
        
        list-style: none;
    }

    .navbar-link {
        text-decoration: none;
        margin: 20px;
        color: white;
    }
}

.content-page {
    text-align: right;
    

    .main-content {
      width: 80%;
      height: 100vh;
      background-color: green; 
        
    
    }

    .content-page {
        
        padding: 10px 80px;
        background-color: red;
        text-align: justify;
    }
}
